In [1]:
700 / (900 + 1_200 + 700) * 100

25.0

In [6]:
 #monthly incase annual rent calculations are done later on. 
alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [7]:
# can also be assigned like this:
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [8]:
# call variables:
alfred_m
# fatima_m
# trina_m

900

In [9]:
trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100

25.0

In [10]:
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 +fatima_monthly_23 + trina_monthly_23) * 100

In [11]:
# easier to read
trina_share_23 = \
trina_monthly_23 / (alfred_monthly_23 +\
                    fatima_monthly_23 +\
                    trina_monthly_23) * 100

In [15]:
#using f-string
#print total all the monthly rents plus totals using f-strings
print(f"Trina's rent:{trina_monthly_23}")
print(f"Trina pays {trina_share_23} percent of the total rent!")

Trina's rent:700
Trina pays 25.0 percent of the total rent!

In [20]:
#f-string also do calculations
print(f"the total monthly rent is: \
${alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23:,}")

the total monthly rent is: $2,800